body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.section {
  height: 100px;
}

#landing-page {
  height: 100vh;
  background: linear-gradient(
                     rgba(0,0,0, .5),
                     rgba(50,50,50, .5)),
                     url("https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#navBar {
  height: 70px;
  position: relative;
}

#second-navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  display: none;
  background: white;
}

.nav-container {
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.navbar-toggler {
  width: 50px;
  height: 40px;
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

/* &&&&&&&&&&&&&&&&&&&&&& */

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* &&&&&&&&&&&&&&&&&&&&&& */

#navLogo {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.navBtn, .second-navBtn {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  color: white;
  border: none;
}

.second-navBtn {
  color: black;
}

.navBtn:hover {
  color: rgba(200, 200, 200, 0.5);
}

.second-navBtn:hover {
  color: rgba(0, 0, 0, 0.5);
}

#logo {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tagline {
  color: white;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#first-section {
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
}

#first-section-header {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;

}

#second-section {
  background: #ff0;
  height: 100vh;
}

@media only screen and (max-width: 678px) {
  .navBtn, .second-navBtn {
      display: none;
  }
  
  .navbar-toggler {
      display: inline-flex;
    }
}
