body {
  padding: 0;
  margin: 0;
}

.section {
  height: 100px;
}

#landing-page {
  height: 100vh;
  background-image: url("https://github.com/ShawnToubeau/gigabit/blob/master/images/bg-image.jpeg");
}

#first-section {
  background: #ff0;
}
