body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.section {
  height: 100px;
}

#landing-page {
  height: 100vh;
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}

nav.navbar {
  background: rgba(0,0,0,0.4);
  border: none;
  /*   position: relative; */
  display: inline-flex;
  /* align-items items in column */
  flex-direction: column;
  /* center items vertically */
  justify-content: center;
}

#brand, .navBtn {
  background: transparent;
  color: white;
  border: none;
}

#brand {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#navLogo {
  width: 100px;
}

.navBtn {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

#first-section {
  background: #ff0;
}
